<form class="editor-form" (ngSubmit)="save()">

    <mat-form-field>
        <mat-label>
            Name
        </mat-label>
        <input matInput [formControl]="userNameFormControl">
        <mat-error>
            Name is required
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Email
        </mat-label>
        <input matInput [formControl]="userEmailFormControl">
        <mat-error *ngIf="userEmailFormControl.hasError('required')">
            Email is required
        </mat-error>
        <mat-error *ngIf="!userEmailFormControl.hasError('required')">
            Email is invalid
        </mat-error>
    </mat-form-field>

    <div class="buttons-container">
        <button mat-button type="button" (click)="discard()">
            Discard
        </button>
        <button mat-button type="submit">
            Save
        </button>
    </div>
</form>