<div class="content-wrapper">

    <div class="search-wrapper">
        <mat-form-field class="search-form">
            <mat-label class="search-label">
                <mat-icon class="search-icon">search</mat-icon>
                Search
            </mat-label>
            <input class="search-input" matInput [formControl]="filterFormControl">
        </mat-form-field>
    
        <button class="add-btn" mat-button (click)="addOffer($event)">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="cards_wrapper">
        <div data-aos="fade-up" data-aos-once="true" class="mentor_card" matRipple [matRippleColor]="rippleColor" *ngFor="let offer of offers">
            <h1 class="card-title">{{offer.name}}</h1>
            <h3 class="card-mentor">{{getOwnerName(offer)}}</h3>
            <p class="card-description">{{offer.description}}</p>
            <button mat-button class="apply-btn">Apply</button>
        </div>
    </div>
</div>