<div class="content-wrapper">

    <mat-form-field>
        <mat-label>
            Find
        </mat-label>
        <input matInput [formControl]="filterFormControl">
    </mat-form-field>

    <button mat-button (click)="addOffer($event)">
        Add
    </button>

    <div class="cards_wrapper">
        <div data-aos="fade-up" data-aos-once="true" class="mentor_card" matRipple [matRippleColor]="rippleColor" *ngFor="let offer of offers">
            <h1 class="card-title">{{offer.name}}</h1>
            <h3 class="card-mentor">{{getOwnerName(offer)}}</h3>
            <p class="card-description">{{offer.description}}</p>
            <button mat-button class="apply-btn">Apply</button>
        </div>
    </div>
</div>