<div class="content-wrapper">
    <div class="cards_wrapper">
        <div data-aos="fade-up" data-aos-once="true" class="mentor_card" matRipple [matRippleColor]="rippleColor">
            <h1 class="card-title">Name of the course</h1>
            <h3 class="card-mentor">Iosiph Stalin</h3>
            <p class="card-description">Some description over here. LMAO, why are you even reading that? Just go on and purchase my course.</p>
            <button mat-button class="apply-btn">Apply</button>
        </div>
        <div data-aos="fade-up" data-aos-once="true" class="mentor_card" matRipple [matRippleColor]="rippleColor">
            <h1 class="card-title">Name of the course</h1>
            <h3 class="card-mentor">Iosiph Stalin</h3>
            <p class="card-description">Some description over here. LMAO, why are you even reading that? Just go on and purchase my course.</p>
            <button mat-button class="apply-btn">Apply</button>
        </div>
        <div data-aos="fade-up" data-aos-once="true" class="mentor_card" matRipple [matRippleColor]="rippleColor">
            <h1 class="card-title">Name of the course</h1>
            <h3 class="card-mentor">Iosiph Stalin</h3>
            <p class="card-description">Some description over here. LMAO, why are you even reading that? Just go on and purchase my course.</p>
            <button mat-button class="apply-btn">Apply</button>
        </div>
        <div data-aos="fade-up" data-aos-once="true" class="mentor_card" matRipple [matRippleColor]="rippleColor">
            <h1 class="card-title">Name of the course</h1>
            <h3 class="card-mentor">Iosiph Stalin</h3>
            <p class="card-description">Some description over here. LMAO, why are you even reading that? Just go on and purchase my course.</p>
            <button mat-button class="apply-btn">Apply</button>
        </div>
    </div>
</div>