<div class="content-wrapper">
    <div class="deals-wrapper">
        <div class="deal">
            <div class="mentor">
                <mat-icon>person</mat-icon>
                <h2 class="mentor-name">Iosiph Stalin</h2>
            </div>
            <div class="chat-bubble">
                <mat-icon>chat_bubble</mat-icon>
            </div>
            <div class="deal-card" matRipple [matRippleColor]="rippleColor">
                <h2 class="deal-title">Deal title</h2>
                <h3 class="mobile-mentor-name">Iosiph Stalin</h3>
                <button mat-button class="chat-btn">
                    Chat
                </button>
            </div>
        </div>
        <div class="deal">
            <div class="mentor">
                <mat-icon>person</mat-icon>
                <h2 class="mentor-name">Iosiph Stalin</h2>
            </div>
            <div class="chat-bubble waving-bubble">
                <mat-icon>chat_bubble</mat-icon>
            </div>
            <div class="deal-card" matRipple [matRippleColor]="rippleColor">
                <h2 class="deal-title">Deal title</h2>
                <h3 class="mobile-mentor-name">Iosiph Stalin</h3>
                <button mat-button class="chat-btn unread-chat">
                    Chat
                </button>
            </div>
        </div>
    </div>
</div>