<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer color="accent" #drawer class="example-sidenav" mode="over">
        <app-nav-menu></app-nav-menu>
    </mat-drawer>

    <mat-drawer-content class="content">
        <div class="content-wrapper">
            <div id="container">
                <ng-content></ng-content>
            </div>
        </div>

        <mat-spinner class="loading-spinner"></mat-spinner>
    </mat-drawer-content>

</mat-drawer-container>