#container {
    opacity: 0;
    transition: 500ms;
    background: #fff;
    width: 100%;
    height: 100%;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    width: calc(100vw - 300px);
    height: 100%;
    position: absolute;
    z-index: 3;
}

@media(max-width: 1000px) {
    .content-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
    }
}

.app-name {
    font-size: 24px;
    margin-left: 1rem;
}

.icon {
    margin: 0 .5rem;
}

.tg-btn,
.fav-btn {
    transition: all .3s ease;
}

.tg-btn:hover {
    color: #2885FF;
}

.fav-btn:hover {
    color: #e32d70;
}

.menu-btn {
    transition: all .3s ease;
}

.menu-btn:hover {
    transform: scale(1.05);
}

.loader {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 2;
    width: 300px;
}

.content {
    height: calc(100vh - 68px);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

mat-toolbar {
    background: #323337!important;
}

.header{
    height: 90px;
    width: 100%;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.title{
    font-family: 'Comfortaa', cursive;
    user-select: none;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.title span{
    color: #2885FF;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 10px;
    transition: all 2s ease;
}

@media only screen and (max-width: 1400px) {
    .title{
        left: 30%;
    }
}


.nav-landscape{
    display: block
}

.nav-portrait{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .header{
        padding: 0 4rem;
        z-index: 4;
    }

    .nav-landscape{
        display: none;
    }

    .nav-portrait{
        display: block;
    }

    .nav-portrait .dropdown{
        cursor: pointer;
        position: relative;
    }

    .nav-portrait .dropdown mat-icon{
        transform: scale(2) rotate(90deg);
        transition: all .3s ease;
    }

    .nav-portrait .dropdown .dropdown-content{
        position: absolute;
        right: -65%;
    }

    .nav-portrait .dropdown .dropdown-content .nav-list {
        flex-direction: column;
    }

    .nav-portrait .dropdown .dropdown-content .nav-list .nav-item{
        margin: 1rem 0;
    }

    .nav-portrait .dropdown .dropdown-content .nav-list .nav-item .nav-link{
        flex-direction: row-reverse;
    }

    .nav-portrait .dropdown .dropdown-content .nav-list .nav-item .nav-link .nav-link_text {
        position: inherit;
        opacity: 1;
        margin-right: 1rem;
        width: 65px;
        text-align: left;
    }

    .title{
        left: 50%;
    }
}

.nav-list{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list .nav-item{
    list-style: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: 0 2rem;
}

.nav-list .nav-item .nav-link{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav-list .nav-item .nav-link .nav-link_text{
    position: absolute;
    opacity: 0;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    top: 30%;
    transition: all 1s ease;
}

.nav-list .nav-item .nav-link mat-icon{
    transform: scale(2);
    transition: all .8s ease;
}

@media only screen and (min-width: 1000px) {
    .nav-list .nav-item .nav-link:hover .nav-link_text{
        opacity: 1;
        top: 110%;
    }
}

.nav-list .nav-item .nav-link:hover mat-icon{
    transform: scale(2) rotate(-5deg);
    color: #3A98DB;
}