<header class="header">
    <h1 class="title">
        Mentor<span>Me</span>
    </h1>
    <nav class="nav-landscape">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="" class="nav-link">
                    <mat-icon>home</mat-icon>
                    <div class="nav-link_text">Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <mat-icon>self_improvement</mat-icon>
                    <div class="nav-link_text">Deals</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <mat-icon>question_mark</mat-icon>
                    <div class="nav-link_text">About</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <mat-icon>account_circle</mat-icon>
                    <div class="nav-link_text">Admin</div>
                </a>
            </li>
        </ul>
    </nav>

    <nav class="nav-portrait">
        <div (click)="mobileMenuClicked()" class="dropdown">
            <mat-icon [ngStyle]="{color: menuOpened ? '#3A98DB' : '#000', transform: menuOpened ? 'scale(2) rotate(90deg)' : 'scale(2)'}">navigate_next</mat-icon>
            <div [ngStyle]="{display: menuOpened ? 'block' : 'none'}"  class="dropdown-content closing" id="dropdown-content">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <mat-icon>home</mat-icon>
                            <div class="nav-link_text">Home</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <mat-icon>self_improvement</mat-icon>
                            <div class="nav-link_text">Deals</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <mat-icon>question_mark</mat-icon>
                            <div class="nav-link_text">About</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <mat-icon>account_circle</mat-icon>
                            <div class="nav-link_text">Admin</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="content">
    <div class="content-wrapper">
        <div id="container">
            <ng-content></ng-content>
        </div>
    </div>

    <app-loader color="primary" class="loader" (loaded)="onLoaded()" (loadedingStarted)="onLoadingStarted()">
    </app-loader>
</div>